<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>dimedis Probearbeit</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="content" class="content-wrapper">
    <h1 class="brandname">Brandname</h1>
    <nav>
        <h2 class="hidden">Navigation</h2>
        <ul>
            <li><a class="active" href="#">menuitem1</a></li>
            <li><a href="#">menuitem2</a></li>
            <li><a href="#">menuitem3</a></li>
            <li><a href="#">menuitem4</a></li>
            <li><a href="#">menuitem5</a></li>
            <li><a href="#">menuitem6</a></li>
        </ul>
    </nav>

    <section class="filters">
        <h2 class="hidden">Filters</h2>
        <ul class="filters-list">
            <li class="filter-legend">Filter:</li>
            <li class="filter-{{ filter.filter }}"
                v-for="filter in filters">
                <label class="article-category-indicator {{ filter.filter }}">
                    <input @click="updateVisibility(filter.filter)" type="checkbox" name="{{ filter.filter }}"
                           value="{{ filter.filter }}">{{ filter.filter | capitalize | umlaute }}
                </label>
            </li>
        </ul>
    </section>
    <section class="content">
        <h2 class="hidden">Articles</h2>
        <article class="article-category {{ article.category }}"
                 v-for="article in articles"
                 v-if="article.visible">
            <div class="article-image {{ article.title | lowercase }}"></div>
            <div class="article-text">
                <h3 class="article-title">{{ article.title }}</h3>
                <span class="article-category-indicator {{ article.category }}">{{ article.category | umlaute | capitalize }}</span>
                <p class="article-body">{{ article.text }}</p>
                <a href="{{ article.link }}" class="article-lead">Mehr erfahren</a>
            </div>
        </article>
    </section>
</div>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>